// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";


body{
	background-color: #f7f7f7;
}

nav{
	border-bottom: 3px solid #ffcc00;
}
.top-bar{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px !important;
	letter-spacing: 0.25px;
	color: #3f3f3f;
	
	&.expanded{
		background-color: #fff;
	}
	&.expanded .title-area{
		background: none;
	}
	ul{
		background: none;
	}
	.name h1 a{
		color: #3f3f3f;
		font-family: 'Open Sans Condensed', sans-serif;
	}

	.right li a{
		//background: none;
		color: #3f3f3f;
		font-weight: normal;
	}
	.sub-nav dd a{
		padding: 0.1875em 0.5625em;
	}

	.top-bar-section li.active a{
		background: none;
		color: #000;
		font-weight: bold;
	}
}
[data-magellan-expedition]{
	padding: 0;
}
.top-bar .toggle-topbar.menu-icon a {
	color: #3f3f3f;
}

.top-bar .toggle-topbar.menu-icon a span{
	-webkit-box-shadow: 0 10px 0 1px #3f3f3f, 0 16px 0 1px #3f3f3f, 0 22px 0 1px #333;
	box-shadow: 0 10px 0 1px #3f3f3f, 0 16px 0 1px #3f3f3f, 0 22px 0 1px #333;
}

.top-bar-section li a:not(.button) {
	background: none;
}

.content{ 
	ul{
		padding-left: 20px;
		font-weight: 300;
	}
	li{
		font-weight:300;
	}
	h2, h3{
		font-family: 'Open Sans Condensed', sans-serif;
	}
	h3{
		font-weight: normal;
	}

	.section-img{
		margin-top: 20px;
	}

	.section-img{
		background-color: #ccc;
		border: 1px solid #ccc;
		margin-bottom: 10px;
	}
	p.large{
		font-size:1.5em;
	}
	hr{
		margin: 75px 0;
	}

	pre{
		color: #fff;
	}

	.colors{
		list-style: none;
		padding-left: 0px;
	}
	.colors li:before{
		display: inline-block;
		content: ".";
		text-indent: -9999px;
		height: 25px;
		width: 25px;
		margin: 0 10px 10px;
		border: 1px solid #ccc;
	}
	.color-orange:before{
		background-color: #f0ab00;
	}
	.color-lgrey:before{
		background-color: #dbdbdb;
	}
	.color-mgrey:before{
		background-color: #4c4c4c;
	}
	.color-dgrey:before{
		background-color: #3f3f3f;
	}
	.color-blue:before{
		background-color: #0692c3;
	}
	.color-dtext:before{
		background-color: #231f20;
	}
}