#map-controls {
  background:rgba(70, 70, 68, 0.3);
  position:absolute;
  top:30px;
  left:30px;
  font-size:23px;
  color:#fff;
  border-radius:3px;
  width:165px;
  box-sizing:border-box;
  overflow:hidden;

  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;

  body:not(.map-controls-open) & {
    cursor:pointer;
    &:hover {
      color:#ddd;
    }
  }

  -webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.15);
  box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.15);

  #map-control-header {
    position:relative;
    background:#0692c3;

    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;

    &.second-page {
      transform:translate3d(-100%,0,0);
      -o-transform:translate3d(-100%,0,0);
      -webkit-transform:translate3d(-100%,0,0);
      -moz-transform:translate3d(-100%,0,0);
      -ms-transform:translate3d(-100%,0,0);
    }

    & > div {
      display:table-row;
      width:100%;
      padding:10px;

      i {
        display:table-cell;
        font-size:23px;
        cursor:pointer;
        padding:10px;
        width:30px;

        &.fa-chevron-left {
          font-size:18px;
          line-height:26px;
        }
      }
      span {
        width:100%;
        display:table-cell;
        font-size:18px;
        font-weight:bold;
        text-align:center;

        transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;

        padding-right:10px;
        white-space:nowrap;
        .map-controls-open & {
          padding-right:32px;
        }
        padding-bottom:13px;
      }
    }

    #map-control-secondary-header {
      position:absolute;
      top:0;
      right:0;
      margin-right:-100%;
      padding:0;
      padding-bottom:1px;
      background:#252525;

      /* Don't show icons when they're in the menu header */
      img {
        display:none;
      }
    }
  }

  #map-control-container {
    max-height:0;
    background:#464644;
    color:#999999;
    font-weight:100;
    font-size:16px;
    width:100%;
    float:left;
    position:relative;

    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;

    &.second-page {
      transform:translate3d(-100%,0,0);
      -o-transform:translate3d(-100%,0,0);
      -webkit-transform:translate3d(-100%,0,0);
      -moz-transform:translate3d(-100%,0,0);
      -ms-transform:translate3d(-100%,0,0);
    }

    ul {
      margin: 0;
      padding: 0;
      position:relative;
      width:100%;

      &.second-container {
        position:absolute;
        top:0;
        right:0;
        margin-right:-100%;
      }

      li {
        list-style-type:none;
        line-height: 64px;
        display:block;
        width:100%;
        clear:both;
        position:relative;
        background:#464644;

        transition:color 0.25s;
        -o-transition:color 0.25s;
        -moz-transition:color 0.25s;
        -webkit-transition:color 0.25s;

        > span {
          padding:0 20px;
          float:left;
        }

        i.fa-chevron-right {
          float:right;
          display:inline-block;
          line-height:64px;
          padding-right:20px;
        }

        /* Icons */
        img {
          display: inline-block;
          vertical-align: middle;
          padding-right: 10px;
          max-height: 80%;
        }

        /* Dealing with <select>s */
        .circle {
          float:right;
          display:inline-block;
          position:absolute;
          top:20px;
          right:20px;
          width:18px;
          height:18px;
          border:1px solid #979797;
          border-radius:50%;
          position:relative;

          &:after {
            width:16px;
            height:16px;
            display:inline-block;
            content:" ";
            position:absolute;
            top:1px;
            right:1px;
            border-radius:50%;
            opacity:0;

            transition:opacity 0.25s ease-in-out;
            -moz-transition:opacity 0.25s ease-in-out;
            -webkit-transition:opacity 0.25s ease-in-out;
            -o-transition:opacity 0.25s ease-in-out;
          }
        }
        &.selected .circle:after {
          background:#eeaa1f;
          opacity:1;
        }
        &:not(.selected):hover .circle:after {
          background:#fff;
          opacity:0.1;
        }
        .fa-check {
          float:right;
          display:inline-block;
          line-height:64px;
          padding-right:20px;

          transition:opacity 0.25s ease-in-out;
          -moz-transition:opacity 0.25s ease-in-out;
          -webkit-transition:opacity 0.25s ease-in-out;
          -o-transition:opacity 0.25s ease-in-out;
        }
        &:not(.selected) .fa-check {
          opacity:0;
        }
        &:not(.selected):hover .fa-check {
          color:#ccc;
          opacity:0.2;
        }
        &.selected .fa-check {
          opacity:1;
          color:#eeaa1f;
        }
        select {
          display:none;
        }
        &.select-option, &.checkbox {
          cursor:pointer;
        }

        /* Dealing with checkboxes */
        input[type=checkbox] {
          display:none;
        }

        /* Slider */
        &.has-slider {
          line-height:50px;
          height:110px;

          .slider {
            width:90%;
            margin:54px auto 0;
          }
        }

        /* Nested menus */
        &.has-children {
          cursor:pointer;

          &:hover {
            color:#ccc;

            &:after {
              color:#ccc;
            }
          }

          &:after {
            display:inline-block;
            position:absolute;
            top:0;
            right:0;
            font: normal normal normal 14px/1 FontAwesome;
            text-rendering:auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            transform: translate(0, 0);
            content: "\f054";
            color:#59595c;
            font-size:18px;
            line-height:64px;
            padding-right:20px;

            transition:color 0.25s;
            -o-transition:color 0.25s;
            -moz-transition:color 0.25s;
            -webkit-transition:color 0.25s;
          }
        }

        &.has-children:hover, &.checkbox:hover, &.select-option:hover {
          color:#ccc;
        }

        &.spacer {
          height:20px;
          background:rgba(70, 70, 68, 0.3);
        }

        ul {
          display:none;
        }
      }

      li + li {
        border-top:1px solid #272727;
      }
    }
  }

  .map-controls-open & {
    width:350px;
    border-radius:0;
    @include shadows;

    #map-control-header {
      background:#252525;
      color:#999;
      i {
        color:#57585b;
      }
    }

    #map-control-container {
      max-height:400px;
    }
  }

  @media screen and (max-width:$mobileBreakpoint) {
    top:initial;
    bottom:20px;
    width:46px;

    #map-control-header {
      > div {
        i {
          padding-left:13px;
        }
        span {
          display:none;
        }
      }
    }

    .map-controls-open & {
      bottom:initial;
      z-index:20;
      top:0;
      left:0;
      width:100%;
      height:100%;

      #map-control-header {
        > div {
          span {
            display:inline;
          }
        }
      }
    }
  }
}
