#ribbon {
  background:$gray;
  height:$ribbonHeight;
  line-height:$ribbonHeight;
  text-align:center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:18px;
  font-weight:300;
  color:#333;

  a {
    color:#333;
    font-weight:700;
    text-decoration:none;

    transition: color 0.25s;
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    -moz-transition: color 0.25s;

    &:hover {
      color:#999;
    }
  }

  body:not(.has-ribbon) & {
    display:none;
  }
}
